.add-movie-form{
gap: 10px;
margin: 50px 0;

}
.add-movie-form-dark label{
    color: white;   
    width: 500px;
    max-width: 100%;
}
.add-movie-form-light label{
    color: black;   
    width: 500px;
    max-width: 100%;
}
.add-movie-form-light input{
    border: 2px solid black;

}

.add-movie-button{
    width: 200px;
    height: 60px;
}

.add-movie-form label a{
    color:blue;
}