.del-movies-container{
    display: flex;
    /* border: 2px solid yellow; */
    justify-content: center;
    flex-wrap: wrap;

}

.del-movie-container{
    filter: grayscale();
}
.del-movie-container:hover{
    filter: none;
}
.del-movie-container-big{
    width: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    transition:  0.5s;
    overflow: hidden;
}
.del-movie-container-big-dark{
    border: 2px solid #141414;
    background-color: white;
    box-shadow: 2px 2px 10px white;
}
.del-movie-container-big-light{
    border: 2px solid #141414;
    background-color: white;
    box-shadow: 2px 2px 10px #141414;;
}


.del-movie-container-small{
    width: 68px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 10px white;
    transition:  0.5s;
    overflow: hidden;
}
.del-movie-container-small-dark{
    border: 2px solid #141414;
    background-color: white;
    box-shadow: 2px 2px 10px white;
}
.del-movie-container-small-light{
    border: 2px solid #141414;
    background-color: white;
    box-shadow: 2px 2px 10px #141414;;
}

.del-movie-container:hover{
    transform: scale(125%);
    filter: none;
}

.del-movie-container-big .del-movie-image{

    width: 90px;
    height: 110px;
    background-size: cover;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    transition:  0.7s;
}
.del-movie-container-small .del-movie-image{

    width: 66px;
    height: 85px;
    background-size: cover;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    transition:  0.7s;
}
.del-movie-image p{
    font-size: 10px;
    font-weight: 600;
    margin: 0 5px;
    text-align: center;

}

a{
    text-decoration: none;
}

.del-movie-container-big .del-movie-title{
    color: black;
    text-align: center;
    margin: 5px;
    font-size: 8px;
    word-wrap: break-word;
}
.del-movie-container-small .del-movie-title{
   display: none;
}
.del-movie-container-big .del-title-and-button{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}
.del-movie-container-small .del-title-and-button{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px;


}


.del-movie-image-inner{
    border-radius: 5px;
    padding: 2px 0;
}
.del-movie-image-inner * {
    display: none;
    overflow: hidden;
  }
  
  .del-movie-image-inner-dark{

    background: black;
    color: white;
  }
  
  .del-movie-image-inner-light {

    background: white;
    color: black;
  }
  
  .del-movie-image:hover .del-movie-image-inner * {
   display: block;
  }

  .del-movie-watched{
    color: red;

  }

  .del-movie-added{
    color:rgb(0, 255, 47);
  }