
.footer-text-dark {
    color: white !important;
}

.footer-text-light {
    color: black !important;
}

.hr-dark {
   color: white !important;
   width: 80vw;
}

.hr-light {
    color: black !important;
    width: 80vw;
}


.pay-csob{

    width: 60px !important;
}

.pay-paypal{
    width: 100px !important
}


.footer-text-info{
    margin-top: 5px;
    font-size: 75%;
}
