.loginForm-button{
  height: 38px;

}



.nav-dark{
  --bs-nav-link-hover-color: white;
}

.nav-light{
  --bs-nav-link-hover-color: black;
}

.hover-button:hover, .hover-button:active{
  transform: scale(103%);
}

.af-text{
  color: #fd7e14 !important;
}